* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--titleColor);
}

ul, ol, li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p, span, a {
    font-family: 'Montserrat', sans-serif;
}

button {
    border: none;
}
